body {
    background-color: White;
}

header {
    background-color: #003087;
    color: White;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

.headerIMG {
    width: 100px;
}