body {
    background-color: White;
}

header {
    background-color: #003087;
    color: White;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

.headerIMG {
    width: 100px;
}



.customBtn {
    background-color: #003087;
    border-color: white;
    color: white;
    font-style: bold;

}

.customBtn:hover {
    background-color: #E4002C;
    border-color: white;
}


.customBtn:link {
    background-color: #E4002C;
    border-color: white;
}




footer {
    color: #fff;
    background-color: #003087;
    flex-shrink: 0;
    margin-bottom: 0;
}